
  <article class="post-card">
    <header class="card-header">
      <h5>{{post.title}}</h5>
      <p>Posted by {{username}} on {{format_date post.createdAt}}</p>
    </header>
    {{post.content}}
  </article>
  <article class="comment-card">
    <header class="card-header">
    </header>
    <form id="comment-form" data-user-id="{{post.user_id}}" data-post-id="{{post.id}}" action="submit" class="comment-form">
        <h6>Comment</h6>
        <textarea name="comment" id="comment" cols="30" rows="3"></textarea>
        <div class="form-group">
        <button class="btn btn-primary" type="submit">Comment</button>
      </div>
    </form>
  </article>

  <script src="/js/comment.js"></script>