
  <article class="post-card">
    <header class="card-header">
      <h5>{{post.title}}</h5>
      <p>Posted by {{post.user.username}} on {{format_date post.createdAt}}</p>
    </header>
    {{post.content}}
  </article>

  {{#if comments}}
  {{#each comments}}
    <article class="comment-card">
        <p>{{content}}</p>
        <h6>Comment by {{user.username}} on {{format_date createdAt}}</h6>
    </article>
    {{/each}}
    {{/if}}

  <article class="comment-card-form">
    <header class="card-header">
    </header>
    <form id="comment-form" data-post-id="{{post.id}}" action="submit" class="comment-form">
        <h6>Comment</h6>
        <textarea name="comment" id="comment" cols="30" rows="3"></textarea>
        <div class="form-group">
        <button class="btn btn-primary" type="submit">Comment</button>
      </div>
    </form>
  </article>

  <script src="/js/comment.js"></script>